.App {
  text-align: center;
}

.header{
  display: flex;
  background-color: #F8F8F8;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  padding-top: 15px;
  box-shadow: #000;
  position: 'relative';
}

.header__title{
  margin-left:50px;
}

.message-list{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container{
  display:flex;
  flex-direction: column;
  width:500px;
  margin-top:10px;
  margin-bottom:15px;
  border-width:1px;
  border-radius:2px;
  border-color: #ddd;
  box-shadow:3px 3px 5px 6px #ccc;

}

.author-container{
  display:flex;
  margin-top: 10px;
  margin-left:10px;

}

.author-image{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.author-details{
  display:flex;
  flex-direction: column;
  margin-left: 10px;
}

.author-details__name{
  font-weight: bold;
}

.author-details__updated{
  font-size: 12px;
}

.message-content{
 margin: 15px;
}